*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1FAEE;
    color: #214d68;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

section{
    padding: 60px 17%;
    margin-right: auto;
    margin-left: auto;
}

header{
    width: 100%;
    color: #F1FAEE;
    letter-spacing: .3rem;
    height: 250px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1D3557;
}

ul{
    list-style: none;
    text-decoration: none;
}

li{
    marker: none;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

svg{
    width: 50px;
    height: 50px;
}

#header__title{
    text-align: center;
    padding-top: 10px;
    order: 0;
}

header h3{
    text-align: center;
    padding: 10px;
    order: 1;
    align-self: center;
}

.navb{
    position: fixed;
    width: 110px;
    background-color: #c91423;
    right: 5%;
    top: 270px;
    border-radius: 10px;
    justify-content: center;
    padding: 0;
}

.navb-links ul{
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

.navb-links li{
    height: 80px;
    text-align: center; 
}

.navb-links li a{
    font-weight: bolder;
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 30px;
}

.navb-links li:hover{
    background-color: rgba(10, 10, 175, 0.555);
}

.navb-links li:hover:nth-child(4){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navb-links li:hover:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navb a:hover{
    color: whitesmoke;
}

.toggle-button{
    display: none;
}

.toggle-button a{
    position: absolute;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

section h1{
    font-weight: bolder;
    font-size: 28px;
    letter-spacing: .3rem;
    text-align: center; 
    text-transform: uppercase;
}

hr{
    height: .1rem;
    border: 0;
    max-width: 100%;
    background-image: linear-gradient(to right,transparent,#36bed9,transparent);
}

.section__hr{
    margin-bottom: 2rem;
    margin-top: 5px;
}

#section__div--about{
    display: flex;
    align-items: center;
}

#section__div--about p{
    font-size: 18px;
    margin: 0 20px;
    text-align: justify;
    letter-spacing: .1rem;
}

#section__professional-picture{
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 60px;
}

#skills{
    background-color: #A8DADC;
}

#skills__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 13px; 
}

.skills__img{
    width: 30%;
    position: relative;
    display: inline-block;
}

.skills__img img{
    width: 100%;
    border-radius: 15px;
}

.skills__img::before,
.skills__img::after{
    --scale: 0;
    position: absolute;
    font-size: 12px;
    left: 50%;
    top: -.25rem;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.skills__img::before{
    content: attr(name);
    padding: .3rem;
    background-color: #F1FAEE;
    color: #000;
    text-align: center;
    width: max-content;
    border-radius: .3rem;
}

.skills__img:hover::before{
    --scale: 1;
}

.skills_progress-bar{
    background-color: black;
    display: inline-block;
    height: 17px;
    width: 50%;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 3);
    border-radius: 3px;
    box-shadow: 0 0 10px #2187e7b3;

}

.skills_progress-percent{
    position: relative;
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    background-color: #0d68be;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%,
    transparent 50%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255,
    255, .15) 75%, transparent 75%, transparent);
    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes{
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.skills_progress-percent::before{
    content: attr(percent)'%';
    position: absolute;
    padding: 4px 4px;
    background-color: #000;
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translate(50%);
}

.skills_progress-percent::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000;
    top: -17px;
    right: 0;
    transform: translate(50%) rotate(45deg);
}

#projects img{
    max-width: 100%;
    max-height: 70%;
    border-radius: 18px 18px 0 0;
    
}

#projects figure{   /*Sin cambios*/
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 95%;
    background-color: #1D3557;
    border-radius: 20px;
    color: whitesmoke;
}

#projects figcaption{    
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin-top: 5px;
}

#projects button{  
    width: 45%;
    height: 9%;
    padding: 2%;
    font-size: 1vw;
    align-self: center;
    margin-top: 14px;
}

#projects button:hover{
    background-color: rgb(43, 182, 8);
}

#contact{
    background-color: #A8DADC;
    font-size: 22px;
}

#contact p{
    text-align: center;
}

#contact span{
    display: inline-block;
    text-align: center;
    color: rgb(167, 15, 15);
}

#contact span:hover{
    cursor: pointer;
    color: rgba(223, 16, 16, 0.658);
}

.contact__a{
    margin: 0 15px;
    color:rgb(5, 5, 71)
}

footer{
    background-color: #1D3557;
}

footer a:hover{
    color: chartreuse;
}

@media screen and (max-width: 1100px){
    .navb{
       position: relative;
        width: 100%;
        top: 0;
        right: 0;
        border-radius: 0;
    }

    .navb-links ul{
        display: flex;
        justify-content: space-evenly;
    }
    
    .navb-links li{
        height: 50px;
        padding-top: 5px;
    }
    
    .navb-links li a{
        padding: .5rem 1rem;
        display: inline-block;
    }

    .navb-links li:hover:nth-child(4){
        border-radius: 0;
    }
    
    .navb-links li:hover:nth-child(1){
        border-radius: 0;
    }

    #section__div--about p{
        font-size: 13px;
    }
    
    #section__professional-picture{
        height: 200px;
        width: 170px;
        border-radius: 60px;
    }

    #skills__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
        grid-auto-flow: row;
    }

    #projects figcaption{
        font-size: 15px;
    }

    #projects button{
        font-size: 1vw;
    }
}

@media screen and (max-width: 767px){
    section{
        padding: 60px 10%;
        margin-right: auto;
        margin-left: auto;
    }
    
    svg{
        width: 35px;
        height: 35px;
    }

    .navb{
        display: block;
    }

    .navb-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navb-links li{
        width: 100%;
    }

    .toggle-button{
        display: block;
        height: 50px;
    }

    .toggle-button a{
        display: flex;
    }

    .navb-links{
        width: 100%;
        display: none;
    }

    .navb-links.active{
        display: flex;
    }

    #section__div--about{
        flex-direction: column;
        align-items: center;
    }

    #section__div--about p{
        margin-top: 20px;
    }

    #skills__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        font-size: 13px; 
    }

    #projects button{
        font-size: 2vw;
    }

    #contact{
        font-size: 18px;
    }

    .contact__a{
        margin: 0 7px;
    }
}

@media screen and (max-width: 576px){
    .skills_progress-percent::before{
        padding: 3px 3px;
        font-size: 8px;
        border-radius: 3px;
        top: -25px;
        right: 0;
        transform: translate(50%);
    }
    
    .skills_progress-percent::after{
        width: 6px;
        height: 6px;
        background-color: #000;
        top: -10px;
        right: 0;
        transform: translate(50%) rotate(45deg);
    }

    #projects figure{
        width: 200px;
        height: 270px;
        margin: auto;
    }

    #projects button{
        font-size: 9px;
    }
}